<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>找回密碼</title>
</head>

<body>
    <table>
        <tr>
            <td style="font-size:1.5rem;">為您找回密碼</td>
        </tr>
        <tr>
            <td>
                您的密碼是：
                <strong>[[${password}]]</strong>
            </td>
        </tr>
        <tr>
            <td>請記錄您的密碼，以避免再次遺失。</td>
        </tr>
        <tr>
            <td>如果您未請求找回密碼，請忽略此電子郵件。</td>
        </tr>
        <tr>
            <td><strong>這是一封自動化電子郵件。請勿直接回覆此訊息。</strong></td>
        </tr>
        <tr>
            <td>如有任何詢問，請聯繫 [[${replyTo}]] </td>
        </tr>
        <tr>
            <td>生成於：[[${updateTime}]]</td>
        </tr>
        <tr>
            <td>© [[${currentYear}]] [[${conferenceName}]]。版權所有。</td>
        </tr>
    </table>
</body>

</html>